{}
===
<!DOCTYPE html>
<html
	<div(data-label=${T:en=Type your keywords here,fr=Tapez votre recherche ici})
		${T:en=Type your keywords here,fr=Tapez votre recherche ici}
===
<!DOCTYPE html>
<html
	<div(data-label=${T:en=Type your keywords here,fr=Tapez votre recherche ici})
		${T:en=Type your keywords here,fr=Tapez votre recherche ici}
# EOF
